/* app css stylesheet */

/*j
.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li + li:before {
  content: "|";
  padding-right: 0.3em;
}
*/

.no-padding {
    padding:0 !important;
}

#main-div {
    padding-top: 1em;
}

.header-div {
    position: relative;
}
