html
  head
    title= "Secrets - Support"
  body
    h1= "Secrets support"
    form(action="/support", method="post")
       p
         | Have a problem? Send the URL of your problem and an employee will verify the problem.
         | We only look at URL on this website.
       if message
         p= message
       p
         input(name="url", placeholder="URL")
         input(type="submit")
