body {
    background-image: url(/bg.jpg);
    background-size: cover;
}

.wrapper {
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    padding-top: 10%;
    color: white;
    font-family: courrier, monospace;
    font-size: 60px;
    text-align: center;
}

a {
    font-size: 0.5em;
    color: white;
}

input {
    outline: 0;
    border: 1px solid white;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 1%;
    font: inherit;
    width: 98%;
    text-align: center;
}
