#main-div {
    margin-top: 1em;
    border-radius:0.25rem;
    background-color:rgba(247,247,249,0.8);
    padding-top:1em;
    padding-bottom:1em;
}
#menu-div {
    margin-top: 1em;
    padding-top: 1em;
}
#footer-div {
    padding-top: 1em;
    border-radius:0.25rem;
    background-color:rgba(247,247,249,0.8);
    padding-bottom: 1em;
}

