<h2><%= @id %></h2>
<p>
Barcelona (/bɑːrsəˈloʊnə/, Catalan: [bəɾsəˈlonə], Spanish: [barθeˈlona]) is the capital and largest city of Catalonia, an autonomous community in the Kingdom of Spain, and the country's second most populous municipality, with a population of 1.6 million within city limits.[2] Its urban area extends beyond the administrative city limits with a population of around 4.7 million people,[5] being the sixth-most populous urban area in the European Union after Paris, London, Madrid, the Ruhr area and Milan.[3] It is the largest metropolis on the Mediterranean Sea, located on the coast between the mouths of the rivers Llobregat and Besòs, and bounded to the west by the Serra de Collserola mountain range, the tallest peak of which is 512 metres (1,680 feet) high.
</p>

<p>
  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d95777.5288157847!2d2.0787279470992464!3d41.39476881460054!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x12a49816718e30e5%3A0x44b0fb3d4f47660a!2sBarcelona%2C+Spain!5e0!3m2!1sen!2sca!4v1496529809700" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
</p>
